{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Close Door{% endblock %}

{% block content %}
	<div class="card w-100 border-danger">
		<h2 class="card-header text-center border-danger">You are about to signal that <br>Unigames is Closed!</h2>
		<div class="card-body">
			<p class="card-text">
				Please don't do this unless you are 100% sure the room is now closed.
			</p>
			<p class="card-text">The following things will occur:</p>
			<ul>
				<li>The Unigames website will show that the clubroom is closed.</li>
				<li>A notification will be sent to the Unigames discord.</li>
				<li>Any Unigames members and/or people in the Unigames Discord will be able to see that you've closed the room.</li>
				<li>Anyone who is not a Unigames member or is not in the Discord will be able to see that the room is closed, but not who closed it.</li>
			</ul>
			<form method="POST" action="">
				<p class="card-text">
					{% crispy form %}
					<a class="btn btn-secondary" href="{% url 'door:status' %}">Go Back</a>
					<button class="btn btn-danger float-end" type="submit">Close Unigames</button>
				</p>
			</form>
		</div>
	</div>

{% endblock %}