{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block title %}Let Me In!{% endblock %}

{% block content %}
	<form action="" method="POST">
		{% csrf_token %}
		{{ wizard.management_form }}
		{% crispy wizard.form %}
		<div class="d-flex flex-row justify-content-between">
			<div class="p-2">
				{% if wizard.steps.prev %}
					<button name="wizard_goto_step"
							type="submit"
							value="{{ wizard.steps.prev }}"
							formnovalidate="formnovalidate"
							class="btn btn-secondary">
						<i class="bi-arrow-left"></i> Back
					</button>
				{% else %}
					<button type="button"
							class="btn btn-secondary"
							disabled>
						<i class="bi-arrow-left"></i> Back
					</button>
				{% endif %}
			</div>
			<div class="p-2">
				{% if wizard.steps.next %}
					<button type="submit"
							class="btn btn-primary">
						Next <i class="bi-arrow-right"></i>
					</button>
				{% else %}
					<button type="submit"
							class="btn btn-success">
						Submit <i class="bi-check2"></i>
					</button>
				{% endif %}
			</div>
		</div>
	</form>


	<div class="card w-100">
		<h2 class="card-header text-center">Let Me In!</h2>
		<div class="card-body">
			<p class="card-text">
				The doors to Cameron Hall (the building that Unigames resides in) become locked outside of University Hours.
				<br>
				A student card is required to access Cameron Hall during this time.
			</p>
			<p class="card-text">
				This form allows you to send a message to the Unigames clubroom, requesting someone to come and let you in.
			</p>
			<p class="card-text">
				Please don't do this unless you are physically waiting outside an entrance to Cameron Hall.
			</p>
			<p class="card-text">Please note:</p>
			<ul>
				<li>All usages of this system will be logged.</li>
				<li>Abuse of this system (ie. requesting access when you aren't actually there as a joke) can result in disabling your access to this system.</li>
				<li>Submitting this form does not guarantee that access will be granted.</li>
				<li>Please stay at the entrance you've requested access to for at least 2 minutes before leaving.</li>
			</ul>
			<form method="POST" action="">
				<p class="card-text">
					{% crispy form %}
					<a class="btn btn-secondary" href="{% url 'door:status' %}">Go Back</a>
					<button class="btn btn-success float-end" type="submit">Open Unigames</button>
				</p>
			</form>
		</div>
	</div>

{% endblock %}